*{
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Rubik', sans-serif;
}

body{
  
  background-color: #0d1323;
}

.App{
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #0d1323;
}

.main-app{
  
  height: 50%;
  max-width: 50%;
  min-width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 15vw);
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.name-card{
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #1e204b;
  place-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 10px;
}

.name-report{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: #5746ea;
  border-radius: 10px;
  padding: 20px;
  padding-top:50px;
  padding-bottom: 0px; 
}
.text{
  display: flex;
  flex-direction: column;
}

.name-report h1 {
 font-size: 30px;
 font-weight: 300;
 line-height: 47px;
}
.name-report p {
  font-size: 15px;
  font-weight: 400;
  color: #BBC0FF;
}

.profile-img{
  object-fit: contain;
  width: 78px;
  border: 2px solid white;
  border-radius: 100%;
  margin-bottom: 30px;
}

.dates{
  height: 100%;
  text-align: start;
  font-size: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
}
.dates ul {
  color: #7078C9;
  font-size: 18px;
  cursor: pointer;

}




.work-color{
  background-color: #ff8b64;
  height: 30%;
  background-image: url("https://raw.githubusercontent.com/paluras/treack/478fe3914dbefafd36b07a695778cda204bfba4e/src/assets/icon-work.svg?token=AXMEMFQBJPHSYZ7Z6EBRB73EBIA5S");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 90px ;
}
.play-color{
  background-color: #56c1e6;
  height: 30%;
  background-image: url("https://raw.githubusercontent.com/paluras/treack/478fe3914dbefafd36b07a695778cda204bfba4e/src/assets/icon-play.svg?token=AXMEMFV24P5NWP4OHRJSUJTEBIAZG");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 90px ;
}
.study-color{
  background-color: #ff5e7d;
  height: 30%;
  background-image: url("https://raw.githubusercontent.com/paluras/treack/478fe3914dbefafd36b07a695778cda204bfba4e/src/assets/icon-study.svg?token=AXMEMFTVATCQ5SPM57R4HL3EBIA4K");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 90px ;
}
.exercise-color{
  background-color: #4bcf83;
  height: 30%;
  background-image: url("https://raw.githubusercontent.com/paluras/treack/478fe3914dbefafd36b07a695778cda204bfba4e/src/assets/icon-exercise.svg?token=AXMEMFTF74PVM2F7573KP4TEBIAWU");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 90px ;
}
.social-color{
  background-color: #7235d1;
  height: 30%;
  background-image: url("https://raw.githubusercontent.com/paluras/treack/478fe3914dbefafd36b07a695778cda204bfba4e/src/assets/icon-social.svg?token=AXMEMFVQPVTECZKRI5VHQT3EBIA3Q");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 90px ;
}
.self-color{
  background-color: #f1c75c;
  height: 30%;
 
  background-image: url("https://raw.githubusercontent.com/paluras/treack/478fe3914dbefafd36b07a695778cda204bfba4e/src/assets/icon-self-care.svg?token=AXMEMFRRWB7QGG67VR7JBODEBIA2G");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 90px ;
}


.card{
  display: flex;
  flex-direction: column;
  height: 99.9%;
  border-radius: 12px;
  cursor: pointer;
}


.card-body{
    max-height: 70%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: #1e204b;
    border-radius: 10px;
}


.card-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}

.hours{
  font-size: 56px;
  font-weight: 300;
}

.previous-week{
  font-size: 15px;
  font-weight: 400;
  color: #BBC0FF;
}

@media screen and (max-width:768px) {
  .main-app{
    grid-template-columns: 327px;
    column-gap: 20px;
    row-gap: 20px;
    height:100%;
    max-width: 100%;
    min-width: 100%;
    display: grid;
   
    grid-template-rows: 250px ;
    column-gap: 0px;
    row-gap: 20px;
  }
  .name-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: #1e204b;
    margin-bottom: -70px;
  }
  .name-report{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5746ea;
    border-radius: 10px;
    padding: 20px;
    
  }

  .dates{
    flex-direction: row;
    align-items: center;
  }

.profile-img{
  margin-bottom: 0px;
  width: 64px;
}
.work-color{
  height: 60px;
}
.study-color{
  height: 60px;
}
.exercise-color{
  height: 60px;
}
.social-color{
  height: 60px;
}
.self-color{
  height: 60px;
}
.play-color{
  height: 60px;
}

.card-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


}
.card-body:hover   {
  background-color: #33397a;
}